gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keyPo.
# See https://flutter.dev/to/reference-keyPo
key.properties
**/*.keyPo
**/*.jks
